# Quarto outputs
_report/
_book/
_site/
.DS_Store
docs/
_freeze/
*.Rmd
*.utf8.md
*.knit.md
*_cache/
*_files/
*.log
*.aux
*.toc
*.out
*.bcf
*.blg
*.run.xml
*.synctex.gz
*.fdb_latexmk
*.fls
.Rproj.user
.Rhistory
.RData
.Ruserdata
renv/library/
/.quarto/
**/*.quarto_ipynb
